.venv/
__pycache__/
*.py[cod]

backup/
latex/backup/

$null
texput.log

latex/*.aux
latex/*.blg
latex/*.log
latex/*.out
latex/*.fdb_latexmk
latex/*.fls
latex/*.synctex.gz

latex/__*.png
latex/figures/__*.png
